* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(9, 6, 32);
    color: white;
    background-image: url(assets/background-stars.svg);
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    list-style-type: none;
    display: inline-block;
    padding: 12px;
    font-size: 12px;
}

.box-1 {
    display: flex;
}

.box-1 img {
    padding-left: 13%;
    padding-top: 13%;
}


.heading {
    padding-top: 19%;
    padding-left: 9%;
    /* width: 231px; */
    line-height: 26px;
}

.heading h1 {
    font-size: 40px;
    padding-bottom: 34px;
}

.\31 {
    line-height: 10px;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid rgb(32, 31, 31);
    letter-spacing: 4px;
}

.\32 {

    line-height: 10px;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid rgb(32, 31, 31);
    letter-spacing: 4px;

}

.\33 {
    line-height: 10px;
    font-size: 15px;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid rgb(32, 31, 31);
    letter-spacing: 4px;
}

.\31:hover {
    background-color: blueviolet;
    cursor: pointer;
}

.\32:hover {
    background-color: blueviolet;
    cursor: pointer;
}

.\33:hover {
    background-color: blueviolet;
    cursor: pointer;
}

.footer {
    display: flex;
    margin-top: 80px;
}

.rotation {
    border: 1px solid rgb(32, 31, 31);
    margin-left: 123px;
    padding: 20px 23px;
}

.rotation p {
    font-size: 14px;
}

.rotation span {
    font-size: 26px;
}

.revolution {
    border: 1px solid rgb(32, 31, 31);
    margin-left: 30px;
    padding: 20px 23px;

}

.revolution p {
    font-size: 14px;
}

.revolution span {
    font-size: 26px;
}

.radius {
    border: 1px solid rgb(32, 31, 31);
    margin-left: 30px;
    padding: 20px 23px;
}

.radius p {
    font-size: 14px;
}

.radius span {
    font-size: 26px;
}


.average {
    border: 1px solid rgb(32, 31, 31);
    margin-left: 30px;
    padding: 20px 23px;
}

.average p {
    font-size: 14px;
}

.average span {
    font-size: 26px;
}